<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <!-- {%- include header.html -%} -->
    <div class="wrapper">
    <a class="site-title">AbsolventInnenseminar Numerische Mathematik</a>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <p>
        <b>Date</b>: Thursday, {{page.session}}<BR>
        <b>Time</b>: 10:15 AM (GMT+2)<BR>
        <b>Place</b>: MA 376 @ TU Berlin (Straße des 17. Juni 136) <BR>
        <b>Host</b>: Hannes Dänschel (daenschel@math.tu-berlin.de)<BR>
        </p>
        <table>
        <tr>
          <th>
            <center>
        <a href="https://algopaul.github.io/SeminarNumerik/" target="_blank">Visit seminar website</a>
            </center>
          </th>
          <th>
            <center>
        <a href={{page.zoomlink}}>Join Via Zoom</a>
            </center>
          </th>
        </tr>
        </table>

        <BR>
        <h2><b>Schedule</b></h2>
        <ul>
        {% assign myabstracts = site.wise202223 %}
        {%- for abstract in myabstracts -%}
        {% if abstract.mydate contains page.session %}
        <li>Talk by {{abstract.name}}</li>
        {% endif %}
        {%- endfor -%}
        </ul> 

        {% assign myabstracts = site.wise202223 %}
        {%- for abstract in myabstracts -%}
        {% if abstract.mydate contains page.session %}
        <hr> <BR>
        <!-- <a name="{{ abstract.tag }}"></a><i>{{ abstract.mydate | markdownify }}</i> -->
        <h3><b>{{abstract.name}}</b>: {{abstract.title}}</h3>
        {{abstract.content | markdownify }}
        {% endif %}
        {%- endfor -%}
      </div>
    </main>

  </body>

</html>
